<form
  class="{{cssClass}}"
  autocomplete="off"
>
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname"><input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"
        /></h1>
    </div>
  </header>
  {{!-- Sheet Body --}}
  <section class="sheet-body ">
    <h4 class="resource-label flexrow">
      <label class="resource-label">{{ localize "ITEMS.cost"}}</label>
      <span class="hexa">
        <input
          type="number"
          name="system.cost"
          value="{{system.cost }}"
          data-dtype="Number"
          min="1"
          max="2"
        />
      </span>
    </h4>
    <h4>description</h4>
    {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}

    </div>

  </section>

</form>