<form class="{{cssClass}}" autocomplete="off">
	{{log this}}
	{{> "systems/vermine2047/templates/item/partials/header.hbs"}}


	{{!-- Sheet Body --}}
	<section class="sheet-body ">

		{{> "systems/vermine2047/templates/item/partials/traits.html"}}
		<div class="resource align-center flexcol">
			<label class="resource-label">compétence necessaire
				<input type="checkbox" data-tooltip="ajouter la vigueur" name="system.needSkill.value" {{#if system.needSkill.value}} checked {{/if}}>
			</label>
			{{#if system.needSkill.value}}
				<select name="system.needSkill.skill" class="skill-select">
					<option value="">aucune</option>
					{{log config}}
					{{#each @root.config.skillCategories as |skillCategory sckey|}}
						<optgroup label="{{ smarttlk 'SKILLS_CATEGORIES' sckey 'name' }}">
							{{#each @root.config.model.Actor.character.skills as |skill key|}}
								{{#ife skill.category sckey}}
									<option value="{{sckey}}" {{#ife sckey @root.system.needSkill.skill}} selected {{/ife}}>{{ smarttlk 'SKILLS' key 'name' }}</option>

								{{/ife}}
							{{/each}}
						</optgroup>
					{{/each}}
				</select>

			{{/if}}

		</div>


		{{> "systems/vermine2047/templates/item/partials/physicalItems.hbs"}}

	</section>
</form>
