<h3>dommages</h3>
<div class="damages-row flexrow">
    <div class="radios flexrow">
        {{#repeat system.damages.max 1 index}}
            <div class="hexa 
                {{#ifgteq system.damages.value @index }}
                checked
                {{/ifgteq }}">
                <input
                    type="radio"
                    name="system.damages.value"
                    value="{{@index}}"
                    {{#ife system.damages.value @index }}
                    checked="true"
                    {{/ife }}
                >
            </div>
        {{/repeat}}
    </div>
    <div class="damage-pannes">
        <h4>pannes : <small>{{getDamagesData system.damages "pannes"}}</small></h4>
    </div>
    <div class="damage-state">
        <h4>état : <small>{{getDamagesData system.damages "state"}}</small> </h4>
    </div>
    <div class="damage-effect">
        <h4> effets : <small>{{getDamagesData system.damages "effect"}}</small> </h4>
    </div>

</div>