<div class="totem choose">
    <div class="flexrow row mdb">
        <label for="system.identity.totem">{{ localize 'IDENTITY.totem' }}</label>
        <select name="system.identity.totem" class="w-full">
            {{selectOptions config.totems selected=system.identity.totem localize=true}}
        </select>
    </div>
</div>