<h2>edit {{actorName}} : {{propName}}</h2>

<div class="flexrow align-center">

    <div class="form-row">
        <label for="min">maximum</label>
        <input type="number" value="0" data-attr="max">
    </div>

</div>