<form
  class="{{cssClass}}"
  autocomplete="off"
>
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    {{log this}}
    <div class="header-fields">
      <h1 class="charname"><input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"
        /></h1>
      <select
        name="system.skill"
        class="skill-select"
      >
        {{#select system.skill}}
          {{#each @root.config.skillCategories as |skillCategory sckey|}}

            <optgroup label="{{ smarttlk 'SKILLS_CATEGORIES' sckey 'name' }}">
              {{#each @root.config.model.Actor.character.skills as |skill key|}}
                {{#ife skill.category sckey}}
                  <option value="{{key}}">{{ smarttlk 'SKILLS' key 'name' }}</option>
                {{/ife}}
            </optgroup>
          {{/each}}
          {{/each}}
        {{/select}}
      </select>

    </div>
  </header>

</form>