<form
  class="{{cssClass}}"
  autocomplete="off"
>
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname"><input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"
        /></h1>
    </div>
  </header>
  <section class="sheet-body">

    <h4 class="flexrow">
      <div class="resource">
        <label class="resource-label">{{ localize "VERMINE.ranges"}}</label>
        <div>
          <span class="hexa">
            <input
              type="number"
              name="system.min_range"
              value="{{system.min_range}}"
              data-dtype="Number"
            /> </span>/
          <span class="hexa">
            <input
              type="number"
              name="system.max_range"
              value="{{system.max_range}}"
              data-dtype="Number"
            /></span>
        </div>
      </div>
      <div class="resource">
        <label class="resource-label">{{ localize "VERMINE.damages"}}</label>
        <div class="hexa"><input
            type="number"
            name="system.damage"
            value="{{system.damage}}"
            data-dtype="Number"
          /></div>
      </div>
      <div class="resource">
        <label class="resource-label">{{ localize "VERMINE.ammo"}}</label>
        <div class="hexa"><input
            type="number"
            name="system.ammo"
            value="{{system.ammo}}"
            data-dtype="Number"
          /></div>
      </div>
      <div class="resource">
        <label class="resource-label">{{ localize "VERMINE.rarity"}}</label>
        <div class="hexa"><input
            type="number"
            name="system.rarity"
            value="{{system.rarity}}"
            data-dtype="Number"
          /></div>
      </div>
      <div class="resource">
        <label class="resource-label">{{ localize "VERMINE.reliability"}}</label>
        <div class="hexa"><input
            type="number"
            name="system.reliability"
            value="{{system.reliability}}"
            data-dtype="Number"
          /></div>
      </div>
    </h4>
    <h2>description</h2>
    {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    {{> "systems/vermine2047/templates/item/partials/damages.html"}}

</form>