<form class="{{cssClass}}" autocomplete="off">
	{{> "systems/vermine2047/templates/item/partials/header.hbs"}}


	<section class="sheet-body">
		{{> "systems/vermine2047/templates/item/partials/traits.html"}}


		<div class="flexrow">
			<div class="resource flexrow align-center">
				<label class="resource-label">{{ localize "VERMINE.mobility"}}</label>
				<div class="hexa">
					<input type="number" name="system.mobility" value="{{system.mobility}}" data-dtype="Number"/>
				</div>
			</div>


		</div>
		{{> "systems/vermine2047/templates/item/partials/physicalItems.hbs"}}


	</section>
</form>
